/* General styles */

body{
    font-family: lucida sans;
}

.sections{
    padding: 20px 0;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
/* Header */
header{
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid black;
    position: relative;
}

header i.icon{
    position: absolute;
    right: 0px;
    top: 25px;
    z-index: 20;
    display: none;
}

header .logo h2{
    font-size: 35px;
}

header nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-buttom: 0;
}

header nav .nav-list .list a{
    display: block;
    padding: 15px 0;
    margin: 9px 0;
    text-decoration: none;
    tansition: all 0.3s ease-in-out;
    text-aline: center;
}

header nav .nav-list .list a:hover{
    color: #7cb62f; 
}

@media (max-width: 575px){
    header nav .nav-list{
        display: none;
        text-align: center;
        padding: 0;
    }
    header .logo{
        text-align: center;
    }
    header i.icon{
        display: block;
    }
}

/* Home sections  */
.home{
    height: 500px;
    background-image: url(./assets/images/background/Cellule.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-title{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

.home .home-desc{
    color: #fff;
    font-size: 20px;
}

.home .button{
    background-color: #7cb62f;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 10px 0;
}